<template>
  <swiper :modules="modules" autoplay loop :pagination="{ clickable: true }">
    <swiper-slide v-for="item in images">
      <img class="img" :src="require(`../../../assets/index/${item}`)" alt="" />
    </swiper-slide>
  </swiper>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { Autoplay, Pagination } from 'swiper';
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/pagination';

const images = ref([
  '20140701032940613.jpg',
  '20140701032951485.jpg',
  '20140701033001724.jpg',
]);
const modules = ref([Autoplay, Pagination]);
</script>

<style lang="less" scoped></style>
