<template>
  <img
    :src="require('../../../assets/index/syjbg.jpg')"
    alt=""
    class="img-title"
  />
  <swiper
    :modules="modules"
    :slides-per-view="4"
    :space-between="50"
    autoplay
    loop
    :pagination="{ clickable: true }"
  >
    <swiper-slide v-for="item in images">
      <img class="img" :src="item" alt="" />
    </swiper-slide>
  </swiper>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { Autoplay, Pagination } from 'swiper';
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/pagination';

const images = ref([
  'http://www.cdxh-tech.com/uploadfile/2014/0731/30l.gif',
  'http://www.cdxh-tech.com/uploadfile/2014/0813/thumb_240_159_1233.jpg',
  'http://www.cdxh-tech.com/uploadfile/2014/0731/30l.gif',
  'http://www.cdxh-tech.com/uploadfile/2014/0813/thumb_240_159_1233.jpg',
  'http://www.cdxh-tech.com/uploadfile/2014/0731/30l.gif',
  'http://www.cdxh-tech.com/uploadfile/2014/0813/thumb_240_159_1233.jpg',
  'http://www.cdxh-tech.com/uploadfile/2014/0731/30l.gif',
  'http://www.cdxh-tech.com/uploadfile/2014/0813/thumb_240_159_1233.jpg',
]);
const modules = ref([Autoplay, Pagination]);
</script>

<style lang="scss" scoped>
.img-title {
  margin-top: 20px;
}
</style>
