<template>
  <q-page class="page-index row items-center justify-evenly">
    <NavSwiper />

    <div class="main-container">
      <q-tabs
        v-model="activeNewsTab"
        inline-label
        :breakpoint="0"
        align="justify"
        class="shadow-2"
      >
        <q-tab name="companyNews" label="公司新闻" />
        <q-tab name="industryNews" label="行业动态" />
        <q-tab name="announcement" label="通知公告" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="activeNewsTab" animated>
        <q-tab-panel :name="item.name" v-for="item in news">
          <div class="news-box" v-for="(news, index) in item.items">
            <template v-if="index === 0">
              <div class="image">
                <a :href="news.link" target="_blank">
                  <img :src="news.img" />
                </a>
              </div>
              <div class="content">
                <p>{{ news.content }}</p>
                <a class="btn" :href="news.link" target="_blank">查看详细</a>
              </div>
            </template>
            <div class="news" v-else>
              <a :href="news.link" target="_blank">{{ news.title }}</a>
              <span>{{ news.published }}</span>
            </div>
          </div>
        </q-tab-panel>

        <q-tab-panel name="industryNews">
          <div class="text-h6">Alarms</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </q-tab-panel>

        <q-tab-panel name="announcement">
          <div class="text-h6">Movies</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </q-tab-panel>
      </q-tab-panels>

      <Prototype />
    </div>
  </q-page>
</template>

<script setup lang="ts">
import { ref, reactive, ReactiveEffect } from 'vue';
import NavSwiper from './components/NavSwiper.vue';
import Prototype from './components/Prototype.vue';

interface NewsItem {
  img?: string;
  link: string;
  title?: string;
  content?: string;
  published?: string;
}

interface NewsPanelItem {
  name: string;
  items: NewsItem[];
}

const activeNewsTab = ref('companyNews');
const news: ReactiveEffect<NewsPanelItem[]> = reactive([
  {
    name: 'companyNews',
    items: [
      {
        img: 'http://www.cdxh-tech.com/uploadfile/2019/1105/11501_752.jpg',
        link: 'http://www.cdxh-tech.com/index.php?m=content&amp;c=index&amp;a=show&amp;catid=19&amp;id=39',
      },
      {
        title: '2019年秋季全国制药机械博览会即将举行，我司代理品牌参展',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=19&id=38',
        published: '11-04',
      },
      {
        title: '热烈庆贺盛德先华获2018年度销售进步奖',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=19&id=36',
        published: '02-27',
      },
      {
        title: '新春佳节，恭祝大家猪年大吉',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=19&id=35',
        published: '01-19',
      },
      {
        title: '公司地址变更通知',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=19&id=33',
        published: '03-27',
      },
      {
        title: '新春佳节，恭祝各位新年快乐',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=19&id=32',
        published: '02-13',
      },
    ],
  },
  {
    name: 'industryNews',
    items: [
      {
        img: 'https://img1.17img.cn/17img/images/201902/uepic/2d56437d-8d59-4483-872d-ff981eebf857.jpg',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=22&id=37',
        content:
          '能否通过搭建平台，将高校院所的科研仪器资源释放到全社会，特别是为中小企业服务?答案是肯定的。',
      },
      {
        title: '赛默飞参加第33届中国质谱学会学术年会',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=22&id=14',
        published: '07-28',
      },
      {
        title: '变化的市场，不变的理念——访瑞士万通全球离子色谱市',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=22&id=13',
        published: '07-28',
      },
      {
        title: '西南地区首个快速检测设备示范平台成立',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=22&id=12',
        published: '07-28',
      },
      {
        title: '三张图证明中国科研必将超越美国',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=22&id=11',
        published: '07-28',
      },
      {
        title: '第七届郭可信电子显微学和晶体学暑期学校举办',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=22&id=10',
        published: '07-28',
      },
    ],
  },
  {
    name: 'announcement',
    items: [
      {
        content:
          '致尊敬的YAMATO科学中国地区用户、代理商： 自2011年8月1日起，重庆雅马拓科技有限公司与雅马拓科技贸易（上海）有限公司销售产品与区域划...',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=12&id=17',
      },
      {
        title: '第十二届中国国际科学仪器及实验室装备展览会',
        link: 'http://www.cdxh-tech.com/index.php?m=content&c=index&a=show&catid=12&id=15',
        published: '07-28',
      },
    ],
  },
]);
</script>

<style scoped lang="scss">
.page-index {
  .main-container {
    margin-top: 32px;
    width: 100%;
    padding: 0 80px;

    .news-box {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #f0f0f0;
      display: flex;
      justify-content: space-between;

      + .news-box {
        padding-left: 15px;
        background: url(http://www.cdxh-tech.com/skins/images/li-bg-01.jpg)
          no-repeat scroll 0 center;
      }

      .image {
        width: 166px;
        height: 123px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .content {
        height: 123px;
        color: #555555;
        margin-left: 20px;

        .btn {
          background: url(http://www.cdxh-tech.com/skins/images/btn-bg.png)
            no-repeat;
          width: 100px;
          margin-top: 5px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          color: #fff;
          float: right;
          margin-right: 25px;
        }
      }

      .news {
        height: 29px;
        overflow: hidden;
        width: 100%;

        a {
          color: #555555;
          display: block;
          float: left;
        }

        span {
          color: #8d8d8d;
          display: block;
          float: right;
        }
      }
    }
  }
}
</style>
