<template>
  <q-layout view="lHh Lpr lFf" class="main-layout">
    <q-header elevated class="transparent">
      <q-toolbar class="bg-blue-4">
        <q-toolbar-title> {{ companyName }} </q-toolbar-title>

        <q-chip
          icon="call"
          color="transparent"
          text-color="white"
          clickable
          @click="handleCompanyTelClick"
        >
          {{ companyTel }}
        </q-chip>
      </q-toolbar>
      <q-toolbar class="nav-bar bg-grey-8">
        <NavMenus :items="navMenuItems" />

        <div class="q-space"></div>

        <div class="nav-search row justify-start items-center q-pa-md">
          <q-input
            ref="searchInput"
            v-model="searchText"
            class="q-ml-md"
            standout="bg-grey-6"
            rounded
            dark
          >
            <template #prepend>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { ref, Ref, computed } from 'vue';
import { useStore } from 'src/store';
import { copyToClipboard, useQuasar } from 'quasar';
import NavMenus from './NavMenus.vue';
import { navMenuItems } from 'src/config';

const $q = useQuasar();
const store = useStore();
const searchText = ref('');
const searchInput: Ref<HTMLInputElement | null> = ref(null);
const companyName = computed(() => store.state.companyInfo.name);
const companyTel = computed(() => store.state.companyInfo.tel);

const handleCompanyTelClick = () => {
  copyToClipboard(companyTel.value)
    .then(() => {
      $q.notify({
        position: 'top-right',
        message: '已复制！',
      });
    })
    .catch(() => {
      $q.notify({
        position: 'top-right',
        message: '复制失败！',
      });
    });
};
</script>

<style lang="scss" scoped>
.main-layout {
  padding-top: 50px;

  .nav-bar {
    backdrop-filter: blur(7px);

    .nav-search {
      ::v-deep(.q-field__control) {
        height: inherit;

        .q-field__marginal {
          height: inherit;
        }
      }
    }
  }
}
</style>
