<template>
  <!-- 一级菜单 -->
  <div class="row items-center self-stretch" v-if="level === 0">
    <q-btn
      stretch
      flat
      :to="item.to"
      :icon="item.icon"
      :label="item.label"
      v-for="item in items"
    >
      <NavMenus
        v-if="item.items && item.items.length > 0"
        :level="level + 1"
        :items="item.items"
        :inPanel="item.inPanel"
      />
    </q-btn>
  </div>

  <!-- 子级菜单面板 -->
  <template v-else-if="inPanel">
    <template v-if="level > 1">
      <q-item clickable v-close-popup v-for="item in items">
        <q-item-section>{{ item.label }}</q-item-section>
      </q-item>
    </template>
    <q-menu v-else>
      <div class="row no-wrap q-pa-md">
        <q-list style="min-width: 100px" v-for="item in items">
          <q-item>
            <q-item-section>{{ item.label }}</q-item-section>
          </q-item>
          <q-separator />

          <NavMenus
            v-if="item.items && item.items.length > 0"
            :level="level + 1"
            :items="item.items"
            inPanel
          />
        </q-list>
      </div>
    </q-menu>
  </template>

  <!-- 子级菜单 -->
  <template v-else>
    <q-item-section v-if="level > 1" side>
      <q-icon name="keyboard_arrow_right" />
    </q-item-section>
    <q-menu :anchor="level > 1 ? 'top end' : 'bottom start'" self="top start">
      <q-list style="min-width: 100px">
        <template v-for="item in items">
          <q-separator v-if="item.separator" />
          <q-item v-if="item.items && item.items.length > 0" clickable>
            <q-item-section @click="handleMenuItemClick(item)">
              {{ item.label }}
            </q-item-section>
            <NavMenus :level="level + 1" :items="item.items" />
          </q-item>
          <q-item v-else clickable v-close-popup>
            <q-item-section @click="handleMenuItemClick(item)">
              {{ item.label }}
            </q-item-section>
          </q-item>
        </template>
      </q-list>
    </q-menu>
  </template>
</template>

<script setup lang="ts">
import { withDefaults, defineProps, computed } from 'vue';
import { NavMenuItem } from 'src/config';
import { useRouter } from 'vue-router';

interface Props {
  level?: number;
  items?: NavMenuItem[];
  inPanel?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  level: 0,
  inPanel: false,
});
const router = useRouter();

const level = computed(() => props.level);
const items = computed(() => props.items);
const inPanel = computed(() => props.inPanel);

const handleMenuItemClick = (item: NavMenuItem) => {
  item.to && router.push(item.to);
};
</script>

<style lang="less" scoped></style>
